.card-text{
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    overflow-y: scroll !important;
}

::-webkit-scrollbar{
    display: none;
}